@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}
.hero{
    background-image: url("Image/cow.jpg");
    height: 100vh;
    background-position: bottom center;
    background-size: cover;
}
.hero h1{
    color: azure;
    font-size: 100px;
    text-align: center;
    font-weight: 900;
    padding-top: 60px;
    font-family: cursive;
    word-spacing: 20px;
    letter-spacing: 9px;
}
.easy{
    width: 80%;
    margin: 60px auto;
    border: 10px groove rgb(250, 96, 96);
    background-color: rgb(184, 251, 229);
    padding: 40px;
}
.easy h2{
text-align: center;
font-size: 46px;
border-bottom: 6px solid yellow;
margin: 45px;
padding: 34px;
}
.easy p{
    font-size: 24px;
    line-height: 2em;
}
.easy p .imp{
    font-size: 2em;
    background-color: yellow;
    display: inline-block;
    width: 600px;
    text-align: center;
}